<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation=
        "http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
 
    <!-- Bean definitions go here -->
    <bean id="testOrderOne" class="com.sg.flooringmastery.model.dto.Order">
        <property name="orderNumber" value="1"/>
        <property name="customerName" value="Ada Lovelace"/>
        <property name="state" value="CA"/>
        <property name="taxRate" value="25.00"/>
        <property name="productType" value="Tile"/>
        <property name="area" value="249.00"/>
        <property name="costPerSquareFoot" value="3.50"/>
        <property name="laborCostPerSquareFoot" value="4.15"/>
        <property name="materialCost" value="871.50"/>
        <property name="laborCost" value="1033.35"/>
        <property name="tax" value="476.21"/>
        <property name="total" value="2381.06"/>
    </bean>
    
    <bean id="testOrderTwo" class="com.sg.flooringmastery.model.dto.Order">
        <property name="orderNumber" value="5"/>
        <property name="customerName" value="Eric Riddle"/>
        <property name="state" value="KY"/>
        <property name="taxRate" value="6.00"/>
        <property name="productType" value="Laminate"/>
        <property name="area" value="127.00"/>
        <property name="costPerSquareFoot" value="1.75"/>
        <property name="laborCostPerSquareFoot" value="2.10"/>
        <property name="materialCost" value="222.25"/>
        <property name="laborCost" value="266.70"/>
        <property name="tax" value="29.34"/>
        <property name="total" value="518.29"/>
    </bean>
    
    <bean id="testTaxOne" class="com.sg.flooringmastery.model.dto.Tax">
        <constructor-arg name="stateAbbreviation" value="KY"/>
        <constructor-arg name="stateName" value="Kentucky"/>
        <constructor-arg name="taxRate" value="6.00"/>
    </bean>
    
    <bean id="testTaxTwo" class="com.sg.flooringmastery.model.dto.Tax">
        <constructor-arg name="stateAbbreviation" value="WA"/>
        <constructor-arg name="stateName" value="Washington"/>
        <constructor-arg name="taxRate" value="9.25"/>
    </bean> 
    
    <bean id="testProductOne" class="com.sg.flooringmastery.model.dto.Product">
        <property name="productType" value="Carpet"/>
        <property name="costPerSquareFoot" value="2.25"/>
        <property name="laborCostPerSquareFoot" value="2.10"/>
    </bean>
    
    <bean id="testProductTwo" class="com.sg.flooringmastery.model.dto.Product">
        <property name="productType" value="Laminate"/>
        <property name="costPerSquareFoot" value="1.75"/>
        <property name="laborCostPerSquareFoot" value="2.10"/>
    </bean>
    
    <bean id="stubOrderDao" class="com.sg.flooringmastery.service.stubs.FlooringOrderDaoStubImpl">
        <constructor-arg ref="testOrderOne"/>
        <constructor-arg ref="testOrderTwo"/>
    </bean>
    
    <bean id="stubTaxDao" class="com.sg.flooringmastery.service.stubs.FlooringTaxDaoStubImpl">
        <constructor-arg ref="testTaxOne"/>
        <constructor-arg ref="testTaxTwo"/>
    </bean>
    
    <bean id="stubProductDao" class="com.sg.flooringmastery.service.stubs.FlooringProductDaoStubImpl">
        <constructor-arg ref="testProductOne"/>
        <constructor-arg ref="testProductTwo"/>
    </bean>
    
    <bean id="serviceLayer" class="com.sg.flooringmastery.service.FlooringServiceImpl">
        <constructor-arg ref="stubOrderDao"/>
        <constructor-arg ref="stubTaxDao"/>
        <constructor-arg ref="stubProductDao"/>
    </bean>
   
</beans>